
{{#if logged_in }}
<form class="review-form needs-validation">
   <div>
      <textarea class="review-textarea form-control" name="re-body"></textarea>
   </div>
   <div>
      <button class="button-add-review" type="submit">Add Review</button>
   </div>
</form>

{{/if }}

Before
{{#each articles }}
<section class="review mb-3">
   <div class="meta">
   @{{user.name}}:
   </div>
   <div class="text">
   {{ article.comment }}
   </div>
</section>
{{/each}}
AFTER



{{#if logged_in}}
<script src="/js/review.js"></script>
{{/if }}